* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    &--row {
        flex-direction: row;
    }
    &--col {
        flex-direction: column;
    }
}



body {
    margin: 0;
    padding: 0;

    font-family: $spartan;
    font-size: 0.9375rem;
}

main {
    min-height: 100svh;

    background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position: top left, bottom right;

    text-align: center;
}

.container {
    width: 90%;
    padding: 5.5em 0;
}

.sub-container1 {
    margin-block-end: 3.5em;
}

.description {
    margin-block-end: 2.5em;
    
    h1 {
        font-size: 2.5rem;
        font-weight: $bold;

        color: $darkMagenta;
        letter-spacing: -0.0625rem;
        line-height: 0.8;
        margin-block-start: 0;

        width: 80%;
    }

    >p {
        font-size: 1.1875rem;
        font-weight: $medium;
        color: $paleMagenta;
        margin-block: 0;
        letter-spacing: -0.03125rem;
    }
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.ratings__box {
    background-color: $lightMagenta;
    padding: 1em 2em;
    border-radius: 0.5rem;

    img {
        margin-block-end: 0.5em;
    }

    img + img {
        margin-inline-start: 0.25em;
    }
    
    h2 {
        font-size: 1.0625rem;
        color: $darkMagenta;
        margin: 0;
    }
}

.testimonials {
    background-color: $darkMagenta;
    color: $white;

    font-size: 1.0625rem;
    text-align: left;

    width: 100%;
    padding: 2em 2em;

    border-radius: 0.625rem;

    p {
        margin-block: 1.5em 0;
        letter-spacing: -0.00625rem;
        line-height: 1.3;
    }


    .info {
        display: flex;
        align-items: center;
        gap: 1.375em;

        img {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
        }

        p {
            font-weight: $bold;
            margin: 0;

            span {
                font-weight: $regular;
                color: $softPink;
                display: block;
            }
        }
    }
}

.testimonials + .testimonials {
    margin-block-start: 1em;
}

@media (min-width:28.125em) {

    main {
        background-size: 80%, 100%;
        background-position: top left, bottom right;
    }
    .ratings {
        align-items: center;
        gap: 1em;
        width: 100%;
        
        margin-block-end: 0;
    }

    .ratings__box {
        min-width: 21.125rem;
    }

    .ratings__box:nth-child(1) {
        align-self: flex-start;
    }

    .ratings__box:nth-child(3) {
        align-self: flex-end;
    }

    .sub-container2 {
        gap: 1em;
        width: 100%;
        
        margin-block-end: 0;
    }

    .testimonials {
        padding: 2.5em 1.75em;
        max-width: 80%;
        
        img {
            margin-block-end: 0;
        }

        h2 {
            margin-inline-start: 2rem;
        }
    }

    .testimonials + .testimonials {
        margin-block: 0;
    }

    .testimonials:nth-child(1) {
        align-self: flex-start;
    }

    .testimonials:nth-child(3) {
        align-self: flex-end;
    }

}

@media (min-width:56.25em) {
    main {
        background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 60%, 80%;
        background-position: top left, bottom right;
    }

    .ratings {
        align-items: center;
        gap: 1em;
        width: 100%;
        
        margin-block-end: 0;
    }

    .ratings__box {
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        max-width: 27.8125rem;
        
        img {
            margin-block-end: 0;
        }

        h2 {
            margin-inline-start: 2rem;
        }
    }

    .ratings__box:nth-child(1) {
        align-self: flex-start;
    }

    .ratings__box:nth-child(3) {
        align-self: flex-end;
    }

    .sub-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: 100%;
        
        margin-block-end: 0;
    }

    .testimonials {
        padding: 2.5em 1.75em;
        max-width: 60%;
        
        img {
            margin-block-end: 0;
        }

        h2 {
            margin-inline-start: 2rem;
        }
    }

    .testimonials + .testimonials {
        margin-block: 0;
    }

    .testimonials:nth-child(1) {
        align-self: flex-start;
    }

    .testimonials:nth-child(3) {
        align-self: flex-end;
    }

}

@media (min-width: 75em) {
    main {
        background-size: 50%, 80%;
        background-position: top left, bottom right;
    }

    .container {
        max-width: 77%;
        padding: 6.25rem 0;

        display: flex;
        flex-direction: column;
    }

    .sub-container1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        margin-block-end: 4.375em;
    }

    .description {
        align-items: flex-start;
        width: 40%;

        h1 {
            font-size: 3.5rem;
        }

        p {
            margin-block-end: 0;
        }
    }

    .ratings {
        width: 50%;
        margin-block: 0;
        align-items: center;
    }

    .ratings__box {
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        max-width: 27.8125rem;
        
        img {
            margin-block-end: 0;
        }

        h2 {
            margin-inline-start: 2rem;
        }
    }

    .ratings__box:nth-child(1) {
        align-self: flex-start;
    }
    .ratings__box:nth-child(3) {
        align-self: flex-end;
    }
    
    .sub-container2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .testimonials {
        padding: 2.5em 1.75em;
        width: 100%;
        max-width: 95%;
        height: 87%;
    }

    .testimonials + .testimonials {
        margin-block: 0;
        margin-inline-start: 1em;
    }

    .testimonials:nth-child(2) {
        transform: translateY(1rem);
    }

    .testimonials:nth-child(3) {
        transform: translateY(2rem);
    }
}