// colors
$darkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

$paleMagenta: hsl(303, 10%, 53%);
$lightMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// font
$spartan: "League Spartan", sans-serif;

// font weights
$regular: 400;
$medium: 500;
$bold: 700;